# Version Tracking Ignore Rules for Git VCS
# https://git-scm.com/docs/gitignore

## Do track Git settings
!.git*

# Snap packaging specific rules
/snap/.snapcraft/
/parts/
/stage/
/prime/

/*.snap
/*_source.tar.bz2
